.pageTitle{
    font-weight: 800; 
    padding-top: 50px !important;
    font-size: 30px;
    text-align: center;
}

.rowBackground {
    float: left;
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    background-color:var(--secondary);
}

.left {
    float: left;
    width: 50%;
    height: 70vh;
    padding: 70px;
    border-radius: 10px;
    color: white;
}

.right {
    float: left;
    width: 50%;
    height: 70vh;
    border-radius: 10px;
    background-color:var(--light-grey);
}

.row {
    width: 100%;
    padding: 70px 50px 70px 70px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

body {
    background-image: url("../assets/background/login_bg.jpg");
    background-size: cover;
}

.formColumn {
    float: left;
    padding-right: 30px;
    padding-bottom: 10px;
}

.formRow {
    width: 60%;
    margin: auto;
    padding-left: 10px;
}

/* Clear floats after the columns */
.formRow:after {
    content: "";
    display: table;
    clear: both;
}

/* Forget PW related CSS */
#forgetPw:link {
    color: var(--text-grey) !important;
}

#forgetPw:hover {
    text-decoration: underline;
}

.emailSent { 
    text-align: center;
    background-color: var(--light-green);
    padding: 10px;
    border-radius: 10px;
    width: auto;
    margin: 20px 60px -20px 60px;
}
 
.middleInput {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align:center
}


